#page-top {
  background-color: black;
}

#wrapper #content-wrapper #content {
  background: black;
}

.error:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #4e73df;
  top: 0;
  color: #5a5c69;
  background: #363636;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim-2 3s linear infinite alternate-reverse;
}

.error:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #e74a3b;
  top: 0;
  color: #5a5c69;
  background: black;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim 2s linear infinite alternate-reverse;
}

.footer {
  background: #000!important;
  color: #151f3c;
}

.copyright {
  color: #2e4896;
  background: black;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: white;
}

.bg-gradient-primary {
  background: #151f3c;
  background-color: #131725;
}

.col-lg-6 {
  background: #1f1f1f;
}

#exampleInputName {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.col-lg-7 {
  background: #1f1f1f;
}

.bg-gradient-primary {
  background: #1f1f1f;
}

.col-lg-5.d-none.d-lg-flex {
  background: #123d50;
}

.mb-4, .my-4 {
  animation-iteration-count: 3;
}

.text-dark.mb-4 {
  animation-iteration-count: 3;
}

@keyframes my-4 {
}

.text-dark.mb-4 {
  color: #6b89f1!important;
}

.mb-4, .my-4 {
  color: #6b89f1!important;
}

body {
  margin: 0;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

body {
  height: 100%;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navigation-clean-search {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width:768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean-search .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color: #222;
}

.navigation-clean-search .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover, .navigation-clean-search .navbar-toggler:focus {
  background: none;
}

.navigation-clean-search .navbar-toggler {
  color: #888;
}

.navigation-clean-search .navbar-collapse, .navigation-clean-search .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav a.active, .navigation-clean-search .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active, .navigation-clean-search.navbar-light .navbar-nav a.active:focus, .navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover, .navigation-clean-search .action-button:focus {
  background: #66d7d7;
}

.navigation-clean-search .form-inline label {
  color: #ccc;
}

.navigation-clean-search .form-inline .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}

.navigation-clean-search .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

