.App {
    text-align: center;
    background-color: #222;
}

.FormCombo{
    background-color: #222;
    color: #2989bb;
    border: none;
}

.nav {
    background-color: #222;
}

.nav .navbar {
    background-color: #222;
}

.navbar-default {
    background-color: #222;
    border: none !important;
}


a:link {
    color: #777 !important;
    border-bottom: none !important;
    
}
a:visited {
    color: #777 !important;
    border-bottom: none !important;
    
}
    a:hover {
        color: #2989bb !important;
        border-bottom: none !important;
    }
a:active {
    color: #383838 !important;
    border-bottom: none !important;
    background-color: #e7e7e7 !important;
}
a:focus {
    background-color: #e7e7e7 !important;
}

.nav a:link {
    color: #777 !important;
    border-bottom: none !important;
}

.nav a:visited {
    color: #777 !important;
    border-bottom: none !important;
}

.nav a:hover {
    color: #2989bb !important;
    border-bottom: none !important;
}

.nav a:active {
    color: #383838 !important;
    border-bottom: none !important;
    background-color: #e7e7e7 !important;
}

.nav a:focus {
    background-color: #e7e7e7 !important;
}



.carousel {
    padding-top: 50px;
    height: 100vh !important;
    margin-top: -1.8vh !important;    
}

.carousel .carousel-inner {
    height: 100%;

}

.carousel-indicators {
    height: 25% !important;
    
}

.carousel .image {
    height: 50vh !important;
    
}

.carousel-caption {
    color: #2989bb;
    padding-bottom: -10%;
    
}

.carousel .item {
    padding-bottom: 10%;
    
}

.div {
    background-color: #222 !important;
    color: #2989bb !important;
    
}

.panel-body {
    background-color: #222 !important;
    color: #2989bb !important;
    margin-top: -20px !important;
}

.panel-heading {
    background-color: #222 !important;
    color: #2989bb !important;
    border-color: #2989bb !important;
    border-bottom: solid;
    
}



.list-group-item {
    background-color: #222 !important;
    border-bottom: solid;
    border-color: #383838 !important;
}

.RevForm {
    align-content: center !important;
    width: 40% !important;
    margin-left: 27vw;
}
